<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iron and Ferro-Alloy Metals</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-xl justify-content-center">
            <a class="navbar-brand text-center disabled" href="#">Global Mineral<br>Production</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="maps"><span style="color:white;">Iron and Ferro-Alloy Metals</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span style="color:white;">Non-Ferrous Metals</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span style="color:white;">Precious Metals</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span style="color:white;">Industrial Minerals</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#" tabindex="-1"><span style="color:white;">Mineral Fuels</span></a></li>
                    </ul>
                </div>
        </div>
    </nav>
    <div class="container-xl justify-content-center">
        <br>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Iron and Ferro-Alloy Metals</h5>
                <ul class="nav nav-tabs card-header-tabs justify-content-center" data-bs-tabs="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-0" data-bs-toggle="tab" href="#tabpanel-0" aria-controls = "tabpanel-0" aria-current="true" >Iron (Fe)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-1" data-bs-toggle="tab" href="#tabpanel-1" aria-controls = "tabpanel-1" aria-current="false" >Chromium (Cr2O3)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tabpanel-2" aria-controls = "tabpanel-2" aria-current="false" >Cobalt</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-3" data-bs-toggle="tab" href="#tabpanel-3" aria-controls = "tabpanel-3" aria-current="false" >Manganese</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-4" data-bs-toggle="tab" href="#tabpanel-4" aria-controls = "tabpanel-4" aria-current="false" >Molybdenum</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-5" data-bs-toggle="tab" href="#tabpanel-5" aria-controls = "tabpanel-5" aria-current="false" >Nickel</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-6" data-bs-toggle="tab" href="#tabpanel-6" aria-controls = "tabpanel-6" aria-current="false" >Niobium (Nb2O5)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-7" data-bs-toggle="tab" href="#tabpanel-7" aria-controls = "tabpanel-7" aria-current="false" >Tantalum (Ta2O5)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-8" data-bs-toggle="tab" href="#tabpanel-8" aria-controls = "tabpanel-8" aria-current="false" >Titanium (TiO2)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-9" data-bs-toggle="tab" href="#tabpanel-9" aria-controls = "tabpanel-9" aria-current="false" >Tungsten (W)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-10" data-bs-toggle="tab" href="#tabpanel-10" aria-controls = "tabpanel-10" aria-current="false" >Vanadium (V)</a>
                    </li>
                </ul>
            </div><!--End card Header-->
            {% for map in map_dict %}
            <!--<div class="tab-pane">{{ map_list[map]|safe }}</div>-->
                {{ map_dict.sheet|safe }}
            {% endfor %}
            <div class="card-body">
                <div class="tab-content" id="tab-content">
                    <p class="card-text text-center"><h5>2021 Production (% Share) by Country</h5></p>
                    {% for key, value in map_dict.items() %}
                        <!--<div class="tab-pane">{{ map_list[map]|safe }}</div>-->
                        <h5>{{key}}</h5>
                        {{value|safe}}
                    {% endfor %}
                    <!--<div class="tab-pane" id="tab-0" role="tabpanel" aria-labelledby="tabpanel-0">{{ map_list[map]|safe }}</div>-->
                </div><!--End tab-content-->
            </div><!--End card-body-->
       </div><!--End card-->
    </div><!--End container-->
</body>
</html>
